<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dojo Survey</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./../../static/css/styles.css' )}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <main class="holdBodyForm">
            <form class="holdInputsLabels" action="/process" method="POST" autocomplete="off">
                <div class="labelInput">
                    <label class="labelText" for="userName">Your Name: </label>
                    <input class="nameInput" type="text" name="userName" id="userName" placeholder="Insert your name here!">
                </div>
                <div class="labelInput">
                    <label class="labelText" for="locations">Dojo Location: </label>
                    <select class="selectOption" id="locations" name="locations">
                        <option value="San Jose">San Jose</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Texas">Texas</option>
                        <option value="New York">New York</option>
                    </select>
                </div>
                <div class="labelInput">
                    <label class="labelText" for="languages">Favorite language: </label>
                    <select class="selectOption" id="languages" name="languages">
                        <option value="Python">Python</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Java">Java</option>
                        <option value="C#">C#</option>
                    </select>
                </div>
                <div class="labelTextarea">
                    <label class="labelText" for="commentForm">Comment (optional): </label>
                    <textarea id="commentForm" name="commentForm" rows="10" cols="30"></textarea>
                </div>
                <div class="justSubmitButton">
                    <input type="submit" value="Button" name="buttonSubmitForm" id="buttonSubmitForm">
                </div>
            </form>
        </main>
    </body>
</html>